<?xml version="1.0" encoding="UTF-8"?>

<!-- 위에는 이 네임스페이스/beans 안에 있는 태그들만 사용가능 bean,import 등 5개! => 사실상 빈만 기억하면됨 -->	
<!-- 밑에는 이 네임스페이스/context 안에 있는 태그들만 사용가능 context 네임스페이스는 겁나많음 -->
<!-- lazy-init 디폴트는 false => 디폴트가 컨테이너 실행시 모든 객체들 생성됨 (요즘은 하드웨어 성능이 좋아서 메모리낭비 x) -->
<!-- 여기서만 수정해줘도 tv랑 speaker 변경 가능-->
<!-- name부분 = speaker => SetSpeaker로 되어있으니 set 제외하고 나머지 문자 소문자로 입력해야함 (그냥 문법임)-->
<beans xmlns="http://www.springframework.org/schema/beans"	
	   xmlns:context="http://www.springframework.org/schema/context"		
	   xmlns:p="http://www.springframework.org/schema/p"		
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
		<!--인터넷연결안되어도 spirng-beans jar파일 어딘가에 들어있음 -->
		
		
		<!-- IoC를 Annotation으로 처리하기 위한 설정 
		poly~3 패키지로 시작하는 모든 클래스들 중 @Component를 가진 클래스의 객체를 생성해라-->
		<context:component-scan base-package="com.multicampus.biz"/>
		
		<!--
		!기준!
		@component : 유지보수 과정에서 변경되지 않는 객체를 생성할 때 사용 => 스피커가 바뀌면 스피커.java에서 주석처리해줘야하기때문
		bean 등록   : 유지보수 과정에서 변경되는 객체를 하나만 생성할 때 사용
		 -->
		 <bean class="polymorphism3.SonySpeaker"/>
		
		<!-- 스프링 컨테이너가 생성할 객체를 등록한다. 
		<bean id = "tv" 
			  class = "polymorphism3.SamsungTV"
			  init-method ="멤버변수초기화"
			  destroy-method="자원해제"
			  lazy-init="true"></bean> 
			  
		<bean id ="speaker" class="polymorphism3.SonySpeaker"/>
			  
		<bean id ="tv" class="polymorphism3.GoogleTV">
			<property name="speaker" ref="speaker"></property>		
			<property name="price" value="1500000"></property>	
		</bean> 이부분이랑 밑에 p로 사용할지는 골라서 선택-
		
		<bean id ="speaker" class="polymorphism3.SonySpeaker"/>
		
		<bean id ="tv" class="polymorphism3.GoogleTV" p:speaker-ref="speaker" p:price="150000"/>
		
		<bean id ="collection" class="polymorphism3.CollectionBean">
			<property name="addressList">
				<props>
					<prop key="둘리">쌍문동</prop>
					<prop key="라이너">마리아</prop>
					<prop key="리바이">시나</prop>
				</props>
			</property>
		</bean>
		-->
<!-- 		
		<bean id = "boardDAO" class="com.multicampus.biz.board.BoardDAO"></bean>
		<bean id ="boardService" class="com.multicampus.biz.board.BoardServiceImpl">
			<property name = "boardDAO" ref="boardDAO"></property>
		</bean>
		 -->
		
		
</beans>